@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <form id="form">
            <input id="message" autocomplete="off" />
            <div id="log">

            </div>
        </form>
    </div>
</div>
